# Игнорировать виртуальные окружения
notevenv/
.env/
# Игнорировать файлы IDE
.idea/
.vscode/
# Игнорировать кэш Python
__pycache__/
*.pyc
*.pyo
# Игнорировать кэш Pytest
.pytest_cache

# Cкрытый системный файл, который создается macOS в 
# каждой папке, к которой вы обращаетесь через Finder. Этот файл хранит метаданные о том, как папка отображается в Finder,
.DS_Store